<!doctype html>
<html>
  <head>
    <title><%= json.project.map_seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"/>

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head_map.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_nav_map.html") %>

    <div class="hed-wrapper">

      <div class="banner-img desktop"><img src="../assets/graphics/long_banner.gif"></img></div>
      <div class="banner-img mobile"><img src="../assets/graphics/banner.gif"></img></div>
      <div class="hed">The Ultimate Guide to S.F. Farmers' Markets</div>
      <div class="chatter">San Francisco is full of farmers' markets, offering all kinds of fresh produce and prepared foods throughout the year. Check out our handy map to explore the markets near you — and discover when you can visit them.</div>
      <div class="byline">By <a href="mailto:sfritsche@sfchronicle.com">Sarah Fritsche</a></div>

      <div class="link-recipes"><a class="link-button" href="../recipes/index.html" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i>Recipe Database: Spring Flavors</a></div>

      </div>
    </div>

    <div class="content">
      <div class="map-wrapper">
        <div id="scroll-to-top"></div>
        <div class="map-container">
          <div class="button" id="reset-button">Reset Map</div>
          <div id="map"></div>
        </div>
        <div id="chosen-market"></div>
      </div>

      <div class="sidebar">
        <div id="ssec">
          <div class="cntl" id="scntl">List of Markets</div>
          <div class="controls-container">
            <div class="search-container map">
              <span class="search">Search by market or day  </span>
              <input class="input" id="searchmap" type="text" placeholder='Try "Mission" or "Sunday" ...'></input>
            </div>
            <div class="dropdown-container">
              <div class="drop-down right">
                <div class="select-text">Sort by day</div>
                <select name="select" id="select-day">
                  <option value='all' class="option">All</option>
                  <option value='sunday' class="option">Sunday</option>
                  <option value='monday' class="option">Monday</option>
                  <option value='tuesday' class="option">Tuesday</option>
                  <option value='wednesday' class="option">Wednesday</option>
                  <option value='thursday' class="option">Thursday</option>
                  <option value='friday' class="option">Friday</option>
                  <option value='saturday' class="option">Saturday</option>
                </select>
              </div>
            </div>
            <div class="button-container side">
              <div class="button" id="opennow-button">Open Today</div>
              <div class="button selected" id="list-button">View All</div>
            </div>
          </div>

          <div class="map-noresults hide" id="map-noresults">No markets match your search. Try new search terms.</div>

          <div class="markets-list">
            <div class="markets-scroll-container">

              <% json.SanFrancisco.forEach(function(d){ %>
                <% var strMarket = d.Name.toLowerCase().replace(/ /g,'').replace(/'/g,'').replace(/\./g,'') %>
                <% var strAddress = d.Address.toLowerCase().replace(/ /g,'').replace(/'/g,'').replace(/\./g,'') %>
                <% var strRegion = d.Region; %>
                <div class="market-group <%=strMarket%> <%=d.Days %> <%=d.Season%> <%=d.Months%> <%=strAddress%> active">
                  <div class="name"><%=d.Name%>  <a href="<%=d.Website%>" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a></div>
                  <div class="season"><span class="bold">Season: </span><%=d.Season%></div>
                  <div class="hours"><span class="bold">Hours: </span><%=d.Hours%></div>
                  <div class="features"><span class="bold">Special features: </span><%=d["Special features"]%></div>
                  <div class="address"><a  class="google-link" href="https://www.google.com/maps/place/<%=d.Address%>" target="_blank"><%=d.Address%><i class="fa fa-map-marker" aria-hidden="true"></i></a></div>
                  <div class="clickme market<%=strMarket%>"><i class="fa fa-hand-o-right" aria-hidden="true"></i>  Click here to find me on the map.</div>
                </div>
              <% }); %>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="tooltip-marketmap"></div>

    <%= t.include("partials/_footer_map.html") %>

    <script>
      var farmData = <%= JSON.stringify(json.SanFrancisco) %>
    </script>

    <script src="../map-app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
