<!doctype html>
<html>
  <head>
    <title><%= json.project.recipes_seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style.css?10">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_analytics_recipes.html") %>
    <%= t.include("partials/_head_recipes.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_nav_recipes.html") %>

    <div class="hed-wrapper">

      <div class="hed">Seasonal recipes, fresh from the market</div>
      <div class="byline">By <a href="mailto:sfritsche@sfchronicle.com">Sarah Fritsche</a> <a href = "https://twitter.com/foodcentric" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
      <div class="chatter">These recipes showcase the best of Bay Area seasonal produce. Many come from our region's top chefs, and all have been tested in the Chronicle Test Kitchen. <a href="../map" target="_blank">Find your local market</a> and get cooking.</div>

    </div>


    <div id="stick-here"></div>
    <div id="stick-me">

      <div class="sort-tools">
      <div class="search-container recipes">
        <span class="search"><i class="fa fa-search" aria-hidden="true"></i></span>
        <input class="input" id="searchbar" type="text" placeholder='What would you like to cook? Search here.'>
      </div>

      <div class="drop-down-wrapper">

        <div class="dropdown-container">
          <select id="select-season">
            <option value='allseasons' class="option">All seasons</option>
            <option value='spring' class="option">Spring</option>
            <option value='summer' class="option">Summer</option>
            <option value='fall' class="option">Fall</option>
            <option value='winter' class="option" selected="selected">Winter</option>
          </select>
        </div>

        <% var ingredientsSpring = ["Apricots", "Artichokes", "Asparagus", "Cherries", "Favas", "Peas", "Rhubarb", "Strawberries"]; %>
        <% var ingredientsSummer = ["Blackberries", "Blueberries", "Corn", "Cucumbers", "Eggplant", "Nectarines", "Peaches", "Plums", "Summer Squash", "Tomatoes", "Zucchini"]; %>
        <% var ingredientsFall = ["Apples", "Brussels Sprouts", "Cranberries", "Pears", "Persimmons", "Pomegranates", "Pumpkin", "Winter Squash"]; %>
        <% var ingredientsWinter = ["Beets", "Broccoli", "Cauliflower", "Chard", "Chicories", "Citrus", "Fennel", "Kale", "Mushrooms"]; %>
        <div class="dropdown-container">
          <select id="select-ingredient">
            <option value='allingredients' class="option" selected="selected">All ingredients</option>
            <% for (var ingredientIDX = 0; ingredientIDX < ingredientsWinter.length; ingredientIDX++){ %>
              <option value='<%=ingredientsWinter[ingredientIDX].toLowerCase().replace(/ /g,'')%>' class="option"><%=ingredientsWinter[ingredientIDX]%></option>
            <% } %>
          </select>
        </div>

        <% var courses = ["Side dish","Main dish","Appetizer","Dessert","Salad","Drink"]; %>
        <div class="dropdown-container">
          <select id="select-course">
            <option value='allcourses' class="option" selected="selected">All courses</option>
            <% for (var courseIDX = 0; courseIDX < courses.length; courseIDX++){ %>
              <option value='<%=courses[courseIDX].toLowerCase().replace(/ /g,'')%>' class="option"><%=courses[courseIDX]%></option>
            <% } %>
          </select>
        </div>

        <div class="dropdown-container">
          <select id="select-diet">
            <option value='alldiets' class="option" selected="selected">All diets</option>
            <option value='vegan' class="option">Vegan</option>
            <option value='vegetarian' class="option">Vegetarian</option>
          </select>
        </div>

        <div id="seeall" class="seeall button">See All</div>

      </div>

    </div>
    </div>
    <div id="stick-ph"></div>
    <div id="top-of-results"></div>


    <div class="recipe-noresults hide" id="recipe-noresults">No search results found. Try a different ingredient or keyword.</div>

    <div class="recipe-wrapper">
      <% json.SeasonalRecipes.forEach(function(d){ %>
        <% if (d.PhotoID && d.Featured != "featured") { %>
          <% if (d.Diet){ %>
            <div class="recipe-item active <%=d.Diet.toLowerCase().replace(/ /g,'')%> <%=d.Course.toLowerCase().replace(/ /g,'')%> <%=d.Season.toLowerCase().replace(/ /g,'')%> <%=d.SortName.toLowerCase().replace(/ /g,'')%> <%=d.Tags.replace(/ /g,'').replace(/,/g,' ')%>">
          <% } else { %>
            <div class="recipe-item active <%=d.Course.toLowerCase().replace(/ /g,'')%> <%=d.Season.toLowerCase().replace(/ /g,'')%> <%=d.SortName.toLowerCase().replace(/ /g,'')%> <%=d.Tags.replace(/ /g,'').replace(/,/g,' ')%>">
          <% } %>
            <a class="link-image" href="<%=d['Link to Recipe']%>" target="_blank">
            <img src="//s.hdnux.com/photos/33/60/16/<%=d.PhotoID%>/9/premium_gallery_landscape.jpg"></img>
            <div class="event"><%=d["Recipe Name"]%></div>
            <div class="tags">
              <span class="tag <%=d.Season%>"><i class="fa fa-tag" aria-hidden="true"></i><%=d.Season%></span>
              <span class="tag <%=d.Course.toLowerCase().replace(/ /g,'')%>"><i class="fa fa-tag" aria-hidden="true"></i><%=d.Course%></span>
              <% if (d.Diet){ %>
                <span class="tag <%=d.Diet%>"><i class="fa fa-tag" aria-hidden="true"></i><%=d.Diet%></span>
              <% } %>
            </div>
            </a>
          </div>
        <% } %>
      <% }); %>
    </div>

    <div id="stop-here"></div>

    <%= t.include("partials/_footer_recipes.html") %>
    <%= t.include("partials/_full_footer.html") %>

    <script src="../recipes-app.js?8" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
