<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style.css">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head_recipes.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_nav_recipes.html") %>

    <div class="hed-wrapper">
      <div class="hed">Spring recipes</div>
      <div class="chatter">We have tested all these delicious recipes for you and they're perfect for summer. Go to your local Farmer's Market to find some fruits and vegetables and get cooking!</div>
      <div class="byline">By <a href="mailto:sfritsche@sfchronicle.com">Sarah Fritsche</div>

      <div class="link-markets"><a href="https://google.com" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i>Find your local Farmer's Market</a></div>
    </div>

    <div class="filter-instructions">Click on the buttons below to see recipes or use the search box for other look-ups:</div>
    <div class="filter-container">
      <% json.IngredientTags.forEach(function(tt){ %>
        <div class="filter topic <%=tt.Tags.toString().toLowerCase().replace(',','').replace(/\s/g,'')%>" id="<%=tt.Tags.toString().toLowerCase().replace(',','').replace(/\s/g,'')%>"><%=tt.Tags%></div>
      <% }); %>
      <div class="filter topic showall active" id="showall">View All</div>
    </div>

    <% json.IngredientTags.forEach(function(ss){ %>
      <% var array = [ss.Subtags].toString().split(','); %>
      <% if (array != "") { %>
        <div class="sub-filter-container" id="subfilter<%=ss.Tags.toString().toLowerCase().replace(',','').replace(/\s/g,'')%>">
          <div class="sub-filter-instructions">Related topics:</div>
            <div class="filter-container">
              <% array.forEach(function(t){ %>
                <div class="filter subfilter <%=t.toString().toLowerCase().replace(/\s/g,'')%>" id="<%=t.toString().toLowerCase().replace(/\s/g,'')%>"><%=t%></div>
                <% }); %>
            </div>
          </div>
        <% } %>
    <% }); %>

    <div class="search-container">
      <span class="search">Search by keywords  </span>
      <input class="input" id="searchbar" type="text" placeholder='Try "asparagus", "cherries" or "risotto" ...'>
    </div>

    <div class="recipe-wrapper">
      <% json.SeasonalRecipes.forEach(function(d){ %>
        <% if (d.PhotoID) { %>
          <div class="recipe-item active <%=[d.Tags].toString().toLowerCase().replace(',',' ')%> <%=[d['Recipe Name']]%>">
            <img src="http://ww2.hdnux.com/photos/54/11/64/<%=d.PhotoID%>/3/premium_landscape.jpg"></img>
            <div class="event"><%=d["Recipe Name"]%><a href="<%=d['Link to Recipe']%>" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a></div>
            <% var array = [d.Tags].toString().split(','); %>
            <div class="tags">
              <% array.forEach(function(t){ %>
                <div class="tag <%=t.toString().toLowerCase().replace(/\s/g,'')%>"><%=t%></div>
              <% }) %>
            </div>
          </div>
        <% } %>
      <% }); %>
    </div>

    <%= t.include("partials/_footer_recipes.html") %>

    <script>
      var farmData = <%= JSON.stringify(json.FarmersMarkets) %>
    </script>

    <script src="../recipes-app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
