<!doctype html>
<html>
  <head>
    <title><%= json.project.recipes_seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style.css">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_analytics_recipes.html") %>
    <%= t.include("partials/_head_recipes.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_nav_recipes.html") %>

    <div class="hed-wrapper">

      <div class="banner-img desktop"><img src="../assets/graphics/summer_banner.gif"></img></div>
      <div class="banner-img mobile"><img src="../assets/graphics/summer_banner_mobile.gif"></img></div>
      <div class="hed">Seasonal recipes, fresh from the market</div>
      <div class="chatter">These recipes showcase the best of Bay Area seasonal produce. Many come from our region's top chefs, and all have been tested in the Chronicle Test Kitchen. Go to your local market and get cooking.</div>
      <div class="byline">By <a href="mailto:sfritsche@sfchronicle.com">Sarah Fritsche</a> <a href = "https://twitter.com/foodcentric" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>

      <div class="link-markets"><a class="link-button" href="../map/" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i>Map: S.F. Farmers’ Market Guide</a></div>

    </div>

    <div class="filter-instructions">Click on the buttons or use the search box below to find recipes:</div>
    <div id="stick-here"></div>
    <div id="stick-me">
      <div class="filter-container">
        <% json.IngredientTags.forEach(function(tt){ %>
          <div class="filter topic <%=tt.Tags.toString().toLowerCase().replace(',','').replace(/\s/g,'')%>" id="<%=tt.Tags.toString().toLowerCase().replace(',','').replace(/\s/g,'')%>"><%=tt.Tags%></div>
        <% }); %>
        <div class="filter topic showall active" id="showall">View All</div>
      </div>

      <% json.IngredientTags.forEach(function(ss){ %>
        <% var array = [ss.Subtags].toString().split(','); %>
        <% if (array != "") { %>
          <div class="sub-filter-container" id="subfilter<%=ss.Tags.toString().toLowerCase().replace(/ /g,'')%>">
            <div class="sub-filter-instructions">Related topics:</div>
              <div class="filter-container">
                <% array.forEach(function(t){ %>
                  <div class="filter subfilter <%=t.toString().toLowerCase().replace(/ /g,'')%>" id="<%=t.toString().toLowerCase().replace(/\s/g,'')%>"><%=t%></div>
                  <% }); %>
              </div>
            </div>
          <% } %>
      <% }); %>
    </div>
    <div id="stick-ph"></div>

    <div class="search-container recipes">
      <span class="search">Search by keywords  </span>
      <i class="fa fa-search" aria-hidden="true"></i><input class="input" id="searchbar" type="text" placeholder='Try "pie," "salad" or "berry" ...'>
    </div>


    <div class="recipe-noresults hide" id="recipe-noresults">No search results found. Try a different ingredient or keyword.</div>

    <div class="recipe-wrapper">
      <% json.SeasonalRecipes.forEach(function(d){ %>
        <% if (d.PhotoID) { %>
          <div class="recipe-item active <%=[d.Tags].toString().toLowerCase().replace(/ /g,'').replace(',',' ')%> <%=[d['Recipe Name']]%>">
            <a class="link-image" href="<%=d['Link to Recipe']%>" target="_blank">
            <img src="http://ww2.hdnux.com/photos/54/11/64/<%=d.PhotoID%>/5/premium_landscape.jpg"></img>
            <div class="caption"><%=d["Photographer"]%></div>
            <div class="event"><i class="fa fa-external-link" aria-hidden="true"></i><%=d["Recipe Name"]%></div>
            </a>
          </div>
        <% } %>
      <% }); %>
    </div>

    <%= t.include("partials/_footer_recipes.html") %>
    <%= t.include("partials/_full_footer.html") %>

    <script src="../recipes-app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
