// @green: #518D71;
@lightest-gray: #F2F2F2;
@sea-blue: #879BBC;
@dark-green: #178250;
// @dark-green: #33B076;// #377357;// #1E5A3E;//#005E21;

body {
    font-weight: normal;
}

.dont-miss-head {
  text-align: center;
  font-family: @med-graphics;
  // font-size: 18px;
  // text-transform: uppercase;
  width: 80%;
  margin: auto;
  padding: 10px;
  padding-left: 10px;
  color: @dark-gray;
  font-size: 17px;
  @media @tablet {
    font-size: 16px;
  }
  @media @mobile {
    width: 100%;
    padding: 10px;
    // width: 90%;
  }
  // border-bottom: 2px solid @lightest-gray;
  // margin-bottom: -25px;
}

.map-noresults {
  font-style: italic;
  // text-align: center;
  padding-top: 40px;
  &.hide {
    display: none;
  }
}

.byline {
  font-style: normal;
  text-align: center;
  margin-top: -10px;
  a {
    text-decoration: underline;
  }
  @media @mobile {
    font-size: 15px;
  }
}

.link-image {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.link-button {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: white !important;
  cursor: pointer !important;
  &:hover {
    color: white !important;
  }
  i {
    // color: #000 !important;
    &:hover {
      color: white !important;
    }
  }
}

.link-recipes {
  max-width: 600px;
  float: center;
  font-family: @bold-graphics;
  font-family: @block-graphics;
  text-align: center;
  background: @dark-green;
  padding: 5px 0;
  &:hover {
    background: darken(@dark-green,5%);
  }
  a {
    color: white;
  }
  font-size: 18px;
  .fa {
    padding-right: 10px;
  }
  margin: 20px auto;
  @media @mobile {
    margin: 20px 10px;
  }
}

.hed-wrapper {
  position: relative;
  padding-top: 30px;
}
.hed-wrapper::after {
    content:"";
    display:block;
    clear:both;
}

.tooltip-marketmap {
  max-width: 300px;
  position: absolute;
  font-family: @block-graphics;
  font-size: 14px;
  background: white;
  padding: 5px 10px;
  border: @light-gray 1px solid;
  visibility: hidden;
  // @media @mobile {
  //   display: none;
  // }
  .bold {
    font-family: @med-graphics;
    border-bottom: 1px solid @dark-gray;
    margin-bottom: 5px;
  }
  .address {
    color: @dark-gray;
    font-style: italic;
  }
}

.hed {
  font-size: 30px;
  color: @dark-green;
  font-family: @bold-graphics;
  padding-top: 20px;
  padding-bottom: 10px;
  @media @tablet {
    padding: 10px 0;
    font-size: 25px;
  }
  @media @mobile {
    padding: 10px;
  }
  font-weight: normal;
  &.desktop {
    @media @tablet {
      display: none;
    }
  }
  &.mobile {
    padding: 0;
    margin: 0 auto;
    display: none;
    @media @tablet {
      display: block;
    }
  }
}

.dropdown-container {
  font-family: @block-graphics;
  font-size: 16px;
  .drop-down {
    display: inline-block;
    &.right {
    }
  }
  .select-text {
    display: inline-block;
    padding-right: 5px;
    font-family: @med-graphics;
  }
  select {
    font-family: @med-graphics;
    font-size: 14px;
    background: white;//lighten(@light-gray,5%);
    padding: 5px 10px;
    @media @mobile {
      padding: 5px 10px;
    }
    border-radius: 0;
  }
}

.drop-down {
  position: relative;
}

.cntl {
  font-family: @med-graphics;
  color: darken(@sea-blue,25%);
  margin-bottom: 10px;
  font-size: 18px;
  border-bottom: 2px solid @sea-blue;
}

.content {
  clear: both;
  position: relative;
  width: 100%;
  .display-flex;
  .flex-wrap(wrap);
  .sidebar {
    .flex(0 0 33%);
    margin-right: 2%;
    .markets-list {
      height: 740px;
      overflow-y: scroll;
      margin-bottom: 20px;
      @media @mobile {
        height: 100%;
        margin-bottom: 0;
      }
    }
    @media @tablet {
      .flex(0 0 90%);
      margin: auto;
      margin-top: 30px;
    }
  }
  .map-wrapper {
    .flex(0 0 62%);
    margin-right: 2%;
    position: relative;
    #chosen-market {
      font-family: @block-graphics;
      background: white;
      max-width: 500px;
      position: absolute;
      top: 0;
      float: right;
      width: 80%;
      opacity: 0.8;
      font-size: 16px;
      padding: 20px;
      .address {
        font-family: @med-graphics;
        font-style: italic;
        padding-top: 5px;
        .fa {
          padding-left: 10px;
          font-size: 16px;
        }
        @media @mobile {
          font-size: 14px;
        }
      }
      .bold {
        font-family: @med-graphics;
        border-bottom: 1px solid @dark-gray;
        margin-bottom: 5px;
      }
      &:empty {
        display: none;
      }
      @media @tablet {
        position: relative;
        width: 90%;
        top: 0;
        clear: both;
        float: none;
        margin: auto;
        background: @lightest-gray;
        margin-top: 20px;
      }
      .brewery-group-top {
        background: white;
        @media @tablet {
          background: @lightest-gray;
        }
        padding: 20px;
        @media @tablet {
          margin-top: 30px;
        }
        font-family: @med-graphics;
        font-size: 18px;
        text-align: center;
        border: 1px @dark-gray solid;
        .address {
          font-family: @med-graphics;
          font-style: italic;
          padding-bottom: 3px;
          font-size: 16px;
          padding-top: 5px;
          &.small {
            font-size: 14px;
            padding-top: 5px;
          }
          .fa {
            padding-left: 10px;
          }
        }
        .blurb {
          font-size: 14px;
        }
      }
    }
    @media @tablet {
      .flex(0 0 100%);
    }
    #map {
      width: 100%;
      height: 1000px;
      z-index: 0;
      @media @tablet {
        width: 100%;
        height: 500px;
      }
      @media @mobile {
        width: 90%;
        height: 320px;
        margin: auto;
      }
    }
  }
}

.logo-link {
  padding-top: 9px;
}

.chatter {
  max-width: 900px;
  @media @tablet {
    margin-top: 0;
    padding: 0 20px;
  }
  @media @mobile {
    padding: 10px;
    padding-top: 0;
    margin-top: 0;
  }
}

.divider {
  padding-top:30px;
  width: 80%;
  margin: auto;
  border-bottom: 1px @dark-gray solid;
  height: 2px;
  @media @mobile {
    width: 90%;
  }
}

circle {
  cursor: pointer;
}

.button-container {
  text-align: center;
  padding-bottom: 20px;
  .button {
    display: inline-block;
    font-family: @med-graphics;
    display: inline-block;
    padding: 3px 10px;
    margin: 4px 2px;
    font-size: 16px;
    @media @mini-mobile {
      font-size: 14px;
    }
    border: 1px solid @dark-green;
    color: @dark-green;
    background: white;
    &:hover {
      color: white;
      background: @dark-green;
    }
    &.selected {
      color: white;
      background: @dark-green;
    }
    cursor: pointer;
  }
}

.markets-list {
  font-family: @block-graphics;
  font-size: 15px;
  // max-width: 600px;
  margin: auto;
  margin-top: 30px;
  @media @mobile {
    padding-bottom: 20px;
  }
}

.market-group {
  display: none;
  padding-bottom: 20px;
  .name {
    font-family: @med-graphics;
    border-bottom: 1px solid @dark-gray;
    margin-bottom: 5px;
  }
  .address {
    font-style: italic;
    padding-bottom: 3px;
    font-size: 14px;
    color: @dark-gray;
    font-family: @med-graphics;
    @media @mobile {
      padding-top: 5px;
    }
    .fa {
      padding-left: 10px;
      font-size: 16px;
      @media @mobile {
        padding-left: 5px;
      }
    }
  }
  .clickme {
    font-family: @bold-graphics;
    padding-top: 5px;
    font-size: 14px;
    color: darken(@dark-green,5%);
    cursor: pointer;
  }
  &.active {
    display: block;
  }
  .bold {
    font-family: @bold-graphics;
  }
}

.fa-external-link {
  padding-left: 5px;
}

.leaflet-control-zoom {
  display: block !important;
  top: 50px !important;
  right: 20px !important;
  @media @mobile {
    top: 5px !important;
    right: 2px !important;
  }
}


.banner-img {
  width: 100%;
  img {
    margin: auto;
    display: block;
    max-width: 900px;
    width: 100%;
    @media @tablet {
      max-width: 100%;
      height: 100%;
    }
  }
  &.desktop {
    padding-top: 30px;
    @media @tablet {
      display: none;
    }
  }
  &.mobile {
    display: none;
    padding-top: 20px;
    @media @tablet {
      display: block;
      max-width: 100%;
      width: 100%;
      // padding-bottom: 20px;
    }
  }
}

.map-wrapper {
  .button {
    display: inline-block;
    font-family: @med-graphics;
    display: inline-block;
    padding: 3px 10px;
    margin: 4px 2px;
    font-size: 16px;
    @media @mini-mobile {
      font-size: 14px;
    }
    border: 1px solid @dark-green;
    color: @dark-green;
    &:hover {
      color: white;
      background: @dark-green;
    }
    &.selected {
      color: white;
      background: @dark-green;
    }
    cursor: pointer;
  }
}

#reset-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 98;
  background: rgba(255,255,255,1);
  &:hover {
    color: white;
    background: @dark-green;
  }
  &.selected {
    color: white;
    background: @dark-green;
  }
  @media @mobile {
    clear: right !important;
    font-size: 14px;
    left: 25px;
    width: 100px;
  }
}
